## 📌 Required environment variables
JWT_SECRET=xxxxx
ADMIN_PASSWORD=xxxxx

## 💡 Optional environment variables
# 🔘 one of: development, production, test
NODE_ENV=xxxxx
PORT=xxxxx
DB_PATH=xxxxx
UPLOADS_DIR=xxxxx
CORS_ORIGINS=xxxxx
ADMIN_EMAIL=xxxxx
COOKIE_DOMAIN=xxxxx
AUTH_API_PUBLIC_URL=xxxxx
OAUTH_CLIENT_RSNRA_LINK_SECRET=xxxxx
OAUTH_CLIENT_RESOMD_SECRET=xxxxx
